---
import { fade } from "astro:transitions";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";

const inv = await supabase.from('game').select();
const products = inv.data;
---

<Layout title="GameShack - Inventory">
    <h1 class="mt-28 text-center mb-10">Have a look at our <span
        class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600"
        >Inventory</span></h1>
    <section class="mb-10 mx-4 md:mt-20 flex flex-wrap gap-4 justify-center">
        {
            products.map((product) => (
                <div class="relative">
                    <Card 
                        id={product.id}
                        image={product.image}
                        title={product.title}
                        consoles={product.consoles}
                        price={product.price}
                    />
                </div>
            ))
        }
    </section>
</Layout>