---
import { fade } from "astro:transitions";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";

const inv = await supabase.from('game').select();
const products = inv.data;
---

<Layout title="GameShack - Inventory">
    <div class="h-56 lg:w-72 w-56 lg:h-72 fixed bg-[#00ADB5] rounded-full -z-50 opacity-30 lg:top-0 lg:-right-10 top-4 -right-8" transition:name="blobA"></div>
    <div class="h-56 lg:w-72 w-56 lg:h-72 bg-[#00ADB5] rounded-full -z-50 opacity-30 lg:-bottom-10 lg:-left-10 -bottom-8 -left-8 fixed" transition:name="blobB"></div>
    <h1 class="mt-28 mx-4 text-center mb-10">Have a look at our <span
        class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600"
        >Inventory</span></h1>
    <section class="mb-10 mx-4 md:mt-20 flex flex-wrap gap-4 justify-center">
        {
            products.map((product) => (
                <div class="relative">
                    <Card 
                        id={product.id}
                        image={product.image}
                        title={product.title}
                        consoles={product.consoles}
                        price={product.price}
                    />
                </div>
            ))
        }
    </section>
</Layout>