---
import { supabase } from '~/lib/supabase'

interface Props {
	
	id: string
	image: string
	title: string
	consoles: string[]
	price: number
	
}
const { id, image, title, consoles, price } = Astro.props;
---
<div class="relative hover:scale-105 hover:border-[#00ADB5] ease-in-out transition-color duration-200">
	<a 
		href={`/details/${id}`} 
		class="flex flex-col w-64 border-2 border-gray-300 rounded-lg relative shadow-lg ease-in-out transition-color duration-200 p-2
		hover:text-[#00ADB5]
		focus:scale-105 focus:ring-2 focus:outline-none focus:ring-[#00ADB5] focus:ring-opacity-50 focus:ring-offset-2 focus:ring-offset-slate-300 focus:ring-offset-opacity-50"
	>
		<div
			class="shadow-md hover:shadow-lg relative"
			transition:name={`record-${id}`}
		>
			<img
				class="block h-72 w-72 object-cover rounded-lg"
				src={image}
				alt={`${title} - cover`}
				aria-hidden="true"
			/>
		</div>
		<div class="pt-4 pb-10 mx-2">
			<p class="font-semibold mb-4">{title}</p>
			<p >&euro; {price}</p>
		</div>
	</a>
</div>