--- 
import Layout from "../../layouts/Layout.astro";
import { supabase } from '~/lib/supabase';
import Inventory from "../../components/DetailPage.vue";

const { id } = Astro.params;
const games = await supabase.from('game').select().eq('id', id).single();
// console.log(games.data);
const details = games.data;

let totalPrice;
if(Astro.request.method === 'POST') {
    const {data, error} = await supabase.from('cart').select().eq('title', details.title).single();
    
    if(data === null) {
        totalPrice = Math.round(details.price).toFixed(2);
    }
    else{
        totalPrice = Math.round(data.quantity * details.price + details.price).toFixed(2);
    }
    if(data === null) {
        await supabase
        .from('cart')
        .insert({ 
            title: details.title, 
            price: details.price, 
            image: details.image, 
            quantity: 1, 
            consoles: details.consoles,
            Total_Price: totalPrice
        })
        .select();
        // console.log(error);
    }
    else{
        await supabase
        .from('cart')
        .update({ quantity: data.quantity + 1, Total_Price: totalPrice })
        .eq('title', details.title)
        .select();
        // console.log(error);
    }
    console.log(data);
}
---

<Layout title={'GameShack - ' + details.title}>
    <section class="mt-20">
        <div
            class=""
        >
            <Inventory 
                
                id={details.id}
                title={details.title}
                price={details.price}
                image={details.image}
                consoles={details.consoles}
            />
        </div>
    </section>

    <form method="post" class="">
        <button type="submit" class="bg-gray-300 p-2 rounded-lg ease-in-out transition-color duration-00
        hover:bg-gradient-to-br hover:from-gray-300 hover:to-[#00ADB5]">
            Add To Cart
        </button>
    </form>
</Layout>