--- 
import Layout from "../../layouts/Layout.astro";
import { supabase } from '../../lib/supabase';

const { id } = Astro.params;
const games = await supabase.from('game').select().eq('id', id).single();
const details = games.data;

let user_id
const {data, error} = await supabase.auth.getUser();
console.log(data);

if(error !== null){
    user_id = null;
    console.log('Not logged in', user_id);
}
if(data.user !== null){
    user_id = data.user.id;
    console.log('Logged in', user_id);
}


let totalPrice;
if(Astro.request.method === 'POST') {
    if(data.user !== null){
        const cart = await supabase.from('cart').select().eq('title', details.title).eq('user_id', user_id).single();
    
        if(cart.data === null) {
            totalPrice = details.price.toFixed(2);
        }
        else{
            totalPrice = cart.data.quantity * details.price + details.price;
        }

        if(cart.data === null) {
            await supabase
            .from('cart')
            .insert({ 
                title: details.title, 
                price: details.price, 
                image: details.image, 
                quantity: 1, 
                consoles: details.consoles,
                Total_Price: totalPrice,
                user_id: user_id,
                is_User: 1
            })
            console.log('clicked - logged in', user_id);
        }
        else{
            await supabase
            .from('cart')
            .update({ quantity: cart.data.quantity + 1, Total_Price: cart.data.quantity * details.price + details.price })
            .eq('title', details.title).eq('user_id', user_id)
            console.log('updated - logged in');
        }
    }else{
        const cart = await supabase.from('cart').select().eq('title', details.title).eq('is_User', 0).single();
    
        if(cart.data === null) {
            totalPrice = details.price.toFixed(2);
        }
        else{
            totalPrice = cart.data.quantity * details.price + details.price;
        }

        if(cart.data === null) {
            await supabase
            .from('cart')
            .insert({ 
                title: details.title, 
                price: details.price, 
                image: details.image, 
                quantity: 1, 
                consoles: details.consoles,
                Total_Price: totalPrice,
                user_id: null,
                is_User: 0
            })
            console.log('clicked');
        }
        else{
            await supabase
            .from('cart')
            .update({ quantity: cart.data.quantity + 1, Total_Price: cart.data.quantity * details.price + details.price })
            .eq('title', details.title)
            .eq('is_User', 0)
            console.log('updated');
        }
    }
}
---

<Layout title={'GameShack - ' + details.title}>
    <div transition:name="blobA" class="h-56 lg:w-96 w-56 lg:h-96 bg-[#00ADB5] rounded-full -z-50 opacity-20 lg:-bottom-12 lg:-right-16 -bottom-8 -right-8 fixed"></div>
    <div transition:name="blobB" class="h-56 lg:w-96 w-56 lg:h-96 bg-[#00ADB5] rounded-full -z-50 opacity-20 lg:-bottom-12 lg:-right-16 -bottom-8 -right-8 fixed"></div>
    <section class="block mt-20 lg:hidden"> 
            <!-- image -->
            <div class="mx-4 h-fit overflow-hidden drop-shadow-xl">
                <img class="object-cover h-80 w-full rounded-2xl" transition:name=`record-${details.id}` src={details.image} alt="">
            </div>
            <div class="mx-4 mt-4">
                <!-- Title -->
                <h2>{details.title}</h2>

                <!-- price -->
                <div class="flex justify-between items-center">
                    <h4>&euro; {details.price}</h4>
                    <form method="post" class="">
                        <button type="submit" class="bg-gray-300 py-2 px-4 rounded-lg ease-in-out transition-color duration-300
                        text-xl md:text-base
                        hover:bg-gradient-to-br hover:from-gray-300 hover:to-[#00ADB5]">
                            Add To Cart
                        </button>
                    </form>
                </div>

                <!-- Console - tag -->
                <div class="flex gap-4 mt-12 justify-center">
                    {
                        details.consoles.map((console) => (
                            <p class="bg-gray-300 px-4 py-2 rounded-2xl opacity-80 text-sm">{console}</p>
                        ))
                    }
                </div>

                <!-- Description -->
                <div class="">
                    <p class="mt-4">{details.description}</p>
                </div>
            </div>
    </section>

    <section class="hidden mt-20 lg:block">
        <div class="flex">
            <!-- image -->
            <img class="object-cover h-96 rounded-xl" transition:name=`record-${details.id}` src={details.image} alt="">
            <div>
                <!-- Title -->
                <h2>{details.title}</h2>

                <!-- Price -->
                <h4>&euro; {details.price}</h4>
            </div>
        </div>

        <!-- Console - tag -->
        <div class="flex gap-4 mt-12 justify-center">
            {
                details.consoles.map((console) => (
                    <p class="bg-gray-300 px-4 py-2 rounded-2xl opacity-80 text-sm">{console}</p>
                ))
            }
        </div>

        <!-- Description -->
        <div class="mx-12">
            <p class="mt-4">{details.description}</p>
        </div>

    </section>


</Layout>